.side-bar{
    height: 100vh;
    position: fixed;
    top:10px;
    right: 0;
    z-index: 1;
    width: 0;
    background: blanchedalmond;
    transition: 0.5s;
}

.show-side-bar{
    width: 250px;
}
.dot-container{
    position: absolute;
    top: 80%;
    left: 45%;
   
}

.dot{
    position: relative;
    cursor: pointer;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background: whitesmoke;
    border-radius: 50%;
}

.app-title{
    width: 50%;
}
.app-options{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.options-list{
    list-style: none;
    padding: 0 17px;
    border-left: 5px solid #00aff0;
    background-color: #fff;
    box-shadow: 5px 5px 0 rgb(0 0 0 / 25%);
    color: black;
    position: relative;    
    padding: 0;
    margin: 0;
}
.options-list-item{
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
    height: 50px;
}
.app-options-list .options-list{
    display: none;
}
.app-options-list:hover .options-list{
    display: block;
}