.side-bar{
    height: 100vh;
    position: fixed;
    top:10px;
    right: 0;
    z-index: 1;
    width: 0;
    background: blanchedalmond;
    transition: 0.5s;
}

.show-side-bar{
    width: 250px;
}
.dot-container{
    position: absolute;
    top: 80%;
    left: 45%;
   
}

.dot{
    position: relative;
    cursor: pointer;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background: whitesmoke;
    border-radius: 50%;
}