.app-header {
  background: #1abc9c;
  color: white;
  font-size: 24px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  }

 .app-title{

 }

 .app-options{
   cursor: pointer;

 }